.sticky-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}    
  .nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #148aea;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 1.5rem;
  --header-width: 0.5rem;
  /*========== Colors ==========*/
  --first-color: hsl(205, 67%, 41%);
  --first-color-shape: hsl(188, 100%, 49%);
  --title-color: hsl(273, 8%, 15%);
  --text-color: hsl(273, 4%, 45%);
  --body-color: hsl(273, 100%, 99%);
  --container-color: #fff;
  --title-color-dark: hsl(273, 83%, 98%);
  --text-color-dark: hsl(191, 60%, 26%);
  --container-color-dark: hsl(244, 89%, 4%);
  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  /*========== z index ==========*/
  --z-fixed: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  overflow-x: hidden;
}

h1, h2, h3 {
  color: var(--title-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__height {
  height: 100vh;
}

/*=============== HEADER Y NAV ===============*/
.nav {
  background-color: var(--container-color-dark);
  padding-top: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 85%;
  height: 100vh;
}

.nav__shape {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-shape);
  border-radius: 50%;
  position: absolute;
  top: -2rem;
  left: -2rem;
  filter: blur(90px);
}

.nav__close {
  position: relative;
  display: inline-flex;
  font-size: 1.8rem;
  color: var(--text-color-dark);
  cursor: pointer;
  margin-bottom: 3.5rem;
}

.nav__img {
  width: 70px;
}


.nav__data {
  position: relative;
  margin-bottom: 3rem;
}

.nav__greeting {
  display: block;
  color: var(--text-color-dark);
  font-size: var(--small-font-size);
  font-weight: 500;
  margin-bottom: .25rem;
}

.nav__name {
  color: var(--title-color-dark);
  font-size: var(--big-font-size);
  line-height: 130%;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link {
  color: var(--text-color-dark);
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  transition: .3s;
}

.nav__link i {
  font-size: 1.15rem;
}

.nav__link:hover {
  color: var(--title-color-dark);
}

.main {
  position: relative;
  background-color: var(--body-color);
  transition: .4s;
}

.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.header__nav {
  height: var(--header-height);
    
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo, .header__toggle {
  color: var(--title-color);
}

.header__logo {
  font-weight: 500;
}

.header__toggle {
  font-size: 1.15rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  transform: translate(70%);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
}

/* Active link */
.active-link {
  color: var(--title-color-dark);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  } 
}

/* For medium devices */
@media screen and (min-width: 767px) {
  .show-menu {
    transform: translate(40%);
  }
}
@media screen and (max-width: 767px) {
  .header__toggle:last-child {
    display: none;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .header__nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__shape {
    width: 350px;
    height: 350px;
  }
  .nav__mask {
    width: 100px;
    height: 100px;
    border-radius: 2rem;
    margin-bottom: 2rem;
  }
  .nav__img {
    width: 90px;
  }
  .nav__link {
    font-size: var(--normal-font-size);
  }
  .nav__link i {
    font-size: 1.25rem;
  }
}
